
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /build.com/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>
# END WordPress

# Security Tweaks
Options -Indexes

# Block direct access to sensitive files
<FilesMatch "(\.(env|settings|gitignore|htaccess)|wp-config\.php|xmlrpc\.php|license\.txt|readme\.html)">
    Order allow,deny
    Deny from all
</FilesMatch>